NEXT_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_HOST=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
# openssl rand -base64 32
NEXTAUTH_SECRET=

# DATABASE_URL=postgresql://postgres:secret@127.0.0.1:5432
DATABASE_URL=mysql://root:secret@127.0.0.1:3306/prisma

GITHUB_ID=
GITHUB_SECRET=